# [Template Source and Notes](https://github.com/xtreamsrl/jupytemplate)
```
# Find template path
import jupytemplate
print(jupytemplate.get_template_path()) => 
``` 
/Users/Tilt/anaconda3/lib/python3.7/site-packages/jupytemplate/jupytemplate/template.ipynb
```
#edit,   
#then:
jupyter nbextension install --py jupytemplate --sys-prefix
jupyter nbextension enable jupytemplate/main --sys-prefix
```

## Title
The title of the notebook should be coherent with file name. Namely, file name should be:    
*author's initials_progressive number_title.ipynb*    
For example:    
*EF_01_Data Exploration.ipynb*

## Purpose
State the purpose of the notebook.

## Methodology
Quickly describe assumptions and processing steps.

## WIP - improvements
Use this section only if the notebook is not final.

Notable TODOs:
- todo 1;
- todo 2;
- todo 3.

## Results
Describe and comment the most important results.

## Suggested next steps
State suggested next steps, based on results obtained in this notebook.

# Setup

## Library import
We import all the required Python libraries

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)

# import cufflinks as cf
# cf.go_offline(connected=True)
# cf.set_config_file(theme='white')

import matplotlib as plt

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

## Local library import
We import all the required local libraries libraries

In [59]:
from codebase.fin_functions.returns.simple_returns import returns_from_prices as my_returns_from_prices
from codebase.fin_functions.returns.simple_returns import prices_from_returns as my_prices_from_returns
from codebase.fin_functions.returns.simple_returns import mean_historical_return as my_mean_historical_return

## Check out the Authors Example, it works

In [60]:
import pandas as pd
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

# Read in price data
df = pd.read_csv("tests/stock_prices.csv", parse_dates=True, index_col="date")
df.head()

,GOOG,AAPL,FB,BABA,AMZN,GE,AMD,WMT,BAC,GM,T,UAA,SHLD,XOM,RRC,BBY,MA,PFE,JPM,SBUX
date,,,,,,,,,,,,,,,,,,,,
1989-12-29,NaN,0.117203,NaN,NaN,NaN,0.352438,3.9375,3.486070,1.752478,NaN,2.365775,NaN,NaN,1.766756,NaN,0.166287,NaN,0.110818,1.827968,NaN
1990-01-02,NaN,0.123853,NaN,NaN,NaN,0.364733,4.1250,3.660858,1.766686,NaN,2.398184,NaN,NaN,1.766756,NaN,0.173216,NaN,0.113209,1.835617,NaN
1990-01-03,NaN,0.124684,NaN,NaN,NaN,0.364050,4.0000,3.660858,1.780897,NaN,2.356516,NaN,NaN,1.749088,NaN,0.194001,NaN,0.113608,1.896803,NaN
1990-01-04,NaN,0.125100,NaN,NaN,NaN,0.362001,3.9375,3.641439,1.743005,NaN,2.403821,NaN,NaN,1.731422,NaN,0.190537,NaN,0.115402,1.904452,NaN
1990-01-05,NaN,0.125516,NaN,NaN,NaN,0.358586,3.8125,3.602595,1.705114,NaN,2.287973,NaN,NaN,1.722587,NaN,0.190537,NaN,0.114405,1.912100,NaN

In [68]:
his_tickers = list(df.columns)
his_tickers[0:10]

['GOOG', 'AAPL', 'FB', 'BABA', 'AMZN', 'GE', 'AMD', 'WMT', 'BAC', 'GM']

In [ ]:
# Next Step is to substitute tiingo for his test data

In [63]:
# Calculate expected returns and sample covariance
#mu = expected_returns.mean_historical_return(df)
mu = my_mean_historical_return(df)
S = risk_models.sample_cov(df)

# Optimise for maximal Sharpe ratio
ef = EfficientFrontier(mu, S)
raw_weights = ef.max_sharpe()
cleaned_weights = ef.clean_weights()
ef.save_weights_to_file("weights.csv")  # saves to file
print(cleaned_weights)
results = ef.portfolio_performance(verbose=True)
results

{'GOOG': 0.01269, 'AAPL': 0.09202, 'FB': 0.19856, 'BABA': 0.09642, 'AMZN': 0.07158, 'GE': 0.0, 'AMD': 0.0, 'WMT': 0.0, 'BAC': 0.0, 'GM': 0.0, 'T': 0.0, 'UAA': 0.0, 'SHLD': 0.0, 'XOM': 0.0, 'RRC': 0.0, 'BBY': 0.06129, 'MA': 0.24562, 'PFE': 0.18413, 'JPM': 0.0, 'SBUX': 0.03769}
Expected annual return: 33.0%
Annual volatility: 21.7%
Sharpe Ratio: 1.43

(0.3303554231010918, 0.21671629594474784, 1.4320816150356195)

In [3]:
# Include local library paths
import sys
codebasePath = '/Users/Tilt/codebase'
sys.path.append(codebasePath) # uncomment and fill to import local libraries

# Import local libraries

# Parameter definition
We set all relevant parameters for our notebook. By convention, parameters are uppercase, while all the 
other variables follow Python's guidelines.

[Article Link, Forked From](https://github.com/robertmartin8/PyPortfolioOpt)


# Data import
We retrieve all the required data for the analysis.

# Test my translations of his code examples

In [3]:
df[['GE', 'WMT', 'BAC']].head()# ['GE', 'WMT', 'BAC']

                  GE       WMT       BAC
date
1989-12-29  0.352438  3.486070  1.752478
1990-01-02  0.364733  3.660858  1.766686
1990-01-03  0.364050  3.660858  1.780897
1990-01-04  0.362001  3.641439  1.743005
1990-01-05  0.358586  3.602595  1.705114

In [47]:
my_df = df[['GE', 'WMT', 'BAC']]#['1989-12':'1990-01']
my_df.tail()

               GE        WMT        BAC
date
2018-04-05  13.43  87.809998  30.320000
2018-04-06  13.06  86.690002  29.629999
2018-04-09  12.83  86.279999  29.870001
2018-04-10  13.05  86.449997  30.480000
2018-04-11  12.97  85.910004  29.900000

In [51]:
my_df.head()

                  GE       WMT       BAC
date
1989-12-29  0.352438  3.486070  1.752478
1990-01-02  0.364733  3.660858  1.766686
1990-01-03  0.364050  3.660858  1.780897
1990-01-04  0.362001  3.641439  1.743005
1990-01-05  0.358586  3.602595  1.705114

In [45]:
from codebase.fin_functions.returns.simple_returns import returns_from_prices as my_returns_from_prices
from codebase.fin_functions.returns.simple_returns import prices_from_returns as my_prices_from_returns

In [58]:
weights = np.array([1.0,1.0,1.0])
quantity = np.array([1.0,1.0,1.0])

def re_price_portfolio(prices,weights,quantity):
    my_returns,initalPrices = my_returns_from_prices(prices,dropna=False)
    new_prices = my_prices_from_returns(my_returns,initalPrices)
    new_prices = new_prices*weights*quantity
    new_prices['Total Value'] = new_prices.sum(axis=1)
    portfolioReturn = ((new_prices.iloc[-1]['Total Value']/new_prices.iloc[0]['Total Value'])-1.0)*100.
    print('portfolio return: {0:,.2f}%'.format(portfolioReturn))
    #print('initial Prices\n',new_prices.iloc[0])
    #print('final Prices\n',new_prices.iloc[-1])
    return new_prices

newPrices= re_price_portfolio(my_df,weights,quantity)

portfolio return: 2,203.35%